:root {
    --yellow: #ffbf1c;
    --orange: #e66500;
    --dark_blue: #162b45;
    --gradient_blue1: #214067;
    --gradient_blue2: #152841;
    --light_blue: #36699d;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

html {
    width: inherit;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

button {
    font-size: 0.9rem;

    color: var(--color);
    transition: 0.25s;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    opacity: 0.6;
}

img {
    border: 1px solid;
}

/* Navigation Desktop */
header {
    background: whitesmoke;
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
}

header nav {
    padding: 0.2rem 433px;
}

header a {
    text-decoration: none;
    line-height: 32px;
    padding: 0px 17px;
    color: var(--gradient_blue1);
}

.top-nav {
    display: none;
}


/* Top Punkt */
.top {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--gradient_blue1), var(--gradient_blue2));
    color: white;
    margin-bottom: -20px;
}

.top h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.search {
    width: 20%;
}

.search button {
    margin-left: 10px;
}

.top input {
    padding: 9px 0px;
    border-radius: 5px;
    width: 70%;
    border: 1px solid #444444;
    box-shadow: inset 1px 0px 5px #0000008c;
}


/* Filterleiste Suche*/
.sort {
    padding: 0 10px;
    font-size: 0.9rem;
    width: fit-content;
}

.filter button,
.sort {
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    color: #1f2022;
    padding: 8px 15px;
    background-color: white;
    border-radius: 6px;
}

.filter {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filter button:not(.active) {
    padding: 9px 16px;
}

button.active {
    border: 2px solid var(--dark_blue);
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 18%);
    transition: all 0.1s ease-in;
}

button.open {
    background: linear-gradient(#ffc42d, #ffbe19);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}


/* Content Startseite */
.content {
    background: whitesmoke;
    /* width: 50rem; */
}

.container {
    background: whitesmoke;
    padding: 25px 150px;

}

.beitrag_list {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

/* Teaser */
.teaser {
    padding: 10px 25px 25px;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 4px #00000012;
}

.taglist a {
    padding: 5px 10px;
    background: whitesmoke;
    box-shadow: 2px 2px 1px #0000000f;
}

.taglist a {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

.taglist a:hover {
    border: 1px solid;
    padding: 3px 7px;
    color: black;
}

.taglist {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 10px;
}

h4 a {
    color: black;
}

.kontrolldatum{
    float: right;
    font-weight: bold;
    color: red;
    padding-right: 15px;
}
/* Beitrag */

.back_button {
    margin-bottom: 20px;
}

.button_options {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.beitrag {
    padding: 20px 25%;
    padding-top: 45px;
    background: rgb(255, 255, 255);

    /* padding-bottom: 40px; */

}

.beitrag .content {
    background: white;
    padding-bottom: 20px;
    line-height: 1.5rem;
}

.back_button {
    margin-top: 50px;
}

.container {
    padding: 20px 450px;
    margin-bottom: -50px;
}

button:not(.delete_tag) {
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    color: #1f2022;
    padding: 8px 16px;
    background-color: whitesmoke;
    border-radius: 6px;
}


h1.title {
    margin: 50px 0px 30px 0px;
}

#container {
    padding: 0;
}


#metadata {
    background: whitesmoke;
}

#metadata button:not(.open) {
    background-color: white;
}


/*Beitrag Form */
.ck.ck-editor {
    width: calc(100% + 10px) !important;
}

.linked_beitrag {
    width: fit-content;
    border-bottom: 3px dotted;
    padding-bottom: 6px;
    margin-left: 10px;
}

input,
#metadata select,
#metadata textarea {
    padding: 7px 0px;
    padding-left: 5px;
    margin-right: -5px;
}

#metadata input,
#metadata select {
    width: calc(100% - 120px);
}

#metadata input:not(.with_button),
#metadata textarea {
    width: 100%;
}

#metadata input,
#metadata select,
#metadata textarea {
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
}


#metadata textarea {
    padding-right: 5px;
}

#metadata select:not(.with_button) {
    width: calc(100% + 8px);
}

.add_input {
    float: right;
}

.date {
    float: right;
    font-weight: bold;
    font-size: 0.9rem, ;
    color: red;
    padding-right: 15px;
}

/* Abteilungsuebersicht */
.kat {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abteilung_liste {
    padding: 30px 450px;
    background: whitesmoke;
}

.kat_liste li {
    padding: 10px;
}


.teaser p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.teaser h4 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 15px;
}

.katliste ul.taglist {
    margin-left: -10px;
}

.einarbeitung {
    /* display: grid;
    grid-template-columns: 2fr 4fr; */
}

.inhalt {
    /* background-color: whitesmoke; */
    padding: 5%;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    box-shadow: 3px 0px 8px 0 rgb(16 24 40 / 5%);
    left: 0;
    line-height: 1.3rem;
}

.einarbeitung .beitrag {
    /* border-left: 1px solid whitesmoke; */
    padding-left: 35%;
}

.einarbeitung h2 {
    margin-bottom: 0;
}

/*Beitrag Editor*/
.hinweis_form {
    color: grey;
    margin-top: 10px;
}

.form_label {
    margin-bottom: 10px;
}



/*Test CK Editor*/
/* style.css */

.ck.ck-abbr-form {
    padding: var(--ck-spacing-large);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: var(--ck-spacing-standard);
}

.ck.ck-abbr-form .ck.ck-labeled-field-view:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.ck.ck-abbr-form .ck.ck-labeled-field-view:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 3;
}

.ck.ck-abbr-form .ck-button:nth-of-type(1) {
    grid-area: 3 / 1 / 4 / 2;
}

.ck.ck-abbr-form .ck-button:nth-of-type(2) {
    grid-area: 3 / 2 / 4 / 3;
}

.title_input {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
    color: #333333;
    width: 100%;
}

input.pflicht,
textarea.pflicht {
    border: 2px solid #cd0000;
    color: darkred;
}

.edit .add {
    display: none;
}

.add .edit {
    display: none;
}

.submit_button {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}

.delete_tag {
    float: right;
    font-weight: bold;
    font-size: 15px;
    border: none;
}


.delete_tag:hover {
    color: red;
    cursor: pointer;
}

.tooltipp {
    display: none;
}

.delete_tag:hover .tooltipp {
    display: flex;
    position: absolute;
    background: white;
    padding: 5px;
    color: black;
    border: 1px solid;
    font-weight: 100;
    font-size: 12px;
}

.tagList_editor li {
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    color: #1f2022;
    padding: 5px 15px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tagList_editor {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    gap: 10px;
}

/*Beitrag List Editor */

.beitrag_list_editor {
    width: 25%;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 6px 0px #00000063;
    padding: 20px;
    align-items: flex-start;
    position: absolute;
    top: 455px;
    right: 250px
}

.beitrag_list_editor h3,
.beitrag_list_editor input,
.beitrag_list_editor p {
    margin: 0;
}

.beitrag_overview {
    padding: 10px;
    overflow-y: scroll;
    list-style-type: none;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.beitrag_preview {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.beitrag_titel {
    margin: 0;
}

.search_beitrag_list {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
}

.search_beitrag_list input {
    width: 100%;
}

/* Eingebundener Beitrag*/
.beitrag.ck-widget {
    padding: 5px 0px;
}

.beitrag_einbinden:hover .hinweis_linked_beitrag {
    display: block;
}

.hinweis_linked_beitrag {
    display: none;
}

/* Table Beitrag/Editor */
table {
    border: 1px double #b3b3b3;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    width: 100%;
}

td {
    border: 1px solid #bfbfbf;
    min-width: 2em;
    padding: .4em;
}

th {
    background: rgba(0, 0, 0, .05);
    font-weight: 700;
    text-align: left;
    border: 1px solid #bfbfbf;
    min-width: 2em;
    padding: .4em;
}

/* Login Form */
.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    padding: 70px;
    box-shadow: 4px 6px 13px 1px #00000075;
}

.login_form label {
    width: 100%;
    margin-top: 10px;
}

.login_form button {
    margin-top: 20px;
    width: fit-content;
}

.login_overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--gradient_blue1), var(--gradient_blue2));
}

/*Anpassung kleinere Bildschirme*/

/* Mobile Navigation */
@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 1em;
        color: rgb(0, 0, 0);
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu>li {
        margin: 0 1rem;
        overflow: hidden;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: var(--dark_blue);
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: transparent;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border-top: 1px solid #404040;
        display: flex;
        padding: 2em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        justify-content: center;
        align-items: center;
        ;
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em;
        width: 100%;
        background: whitesmoke
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #000000;
    }

}

@media screen and (max-width: 1700px) {

    .container,
    .beitrag {
        padding: 20px 20%
    }

    header nav {
        padding: 0.2rem 20%;
    }
}

@media screen and (max-width: 850px) {

    .container,
    .beitrag {
        padding: 20px 10%
    }

    header nav {
        padding: 0.2rem 10%;
    }
}